.highlighted-text{
    color: #FF6768;
}
.regular-text{
    color: #FFF;
}
.bg-card{
    background: #17223B;
}
.bg-lighter{
    background: #263859;
}
.bg-red, .nav-pills .nav-link.active{
    background: #FF6768;
}
.text-grey{
    color:#6B778D;
}
.nav-link{
    cursor: pointer;
}
